<div class="col-sm-6 col-sm-offset-3" style="margin-top:13em; padding:0">

	<div class="col-xs-12">
		<div class="alert alert-info">Tags are a great way to target multiple categories at the same time.Get started by adding some</div>
		<h4>Tags 
	    <i style="color:red; font-size:.8em;" class="icon fa fa-square"> clear</i>
		<i style="color:green; font-size:.8em;" class="icon fa fa-square"> add</i>
	 </h4>
	 <input class="form-control input-tag" placeholder="Add a tag">

		<div class="tag-buttons">
			<button class="btn btn-default btn-xs">
			   <span>general</span> 
			   <a class="badge">X</a>
			</button>
		 </div>
		 <div class="wiz">
		 	 <a class="wiz-pager" href="#/articles/all">
		 	 	<i class="icon fa fa-times" > cancel</i></a>
		 	 <a class="wiz-pager" href="#/articles/new/1/edit">
		 	 	<i class="icon fa fa-edit" > next</i></a>
		 </div>
	</div>
</div>