<div class="clearfix" style="background:#fff; min-height:60em;">
	<nav class="col-sm-6 col-sm-offset-3 tool-set">
	  <ul class="pager">
	    <li class="previous" ng-click="back()" ng-show="edit"><a><span aria-hidden="true">&larr;</span> Back</a></li>
	    <li class="previous" ng-show="!edit"><a ui-sref="in.posts"><span aria-hidden="true">&larr;</span> cancel</a></li>
	    <li class="next" ng-click="save()" ng-show="edit"><a>Save <span aria-hidden="true">&rarr;</span></a></li>
	    <li class="next" ng-click ="next()" ng-show="!edit"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>

	<div class="col-sm-4 col-sm-offset-4 text-center" style="margin-top:13em; padding:0;" ng-hide="edit">
		 <h1>
	       	   Tags are a great for targeting multiple categories. 
	     </h1>
	     <hr>
		 
		 <div class="tag-buttons">
			<button class="btn btn-default btn-sm" ng-repeat="tag in tags" ng-click="deleteTag(tag)">
			   <span>{{tag}}</span> 
			   <a class="badge">X</a>
			</button>
		 </div>

		 <div class="input-group" style="padding-bottom:.4em; margin-top:2em;">
			  <input class="form-control input-tag" placeholder="Add a tag" ng-model="newTag" style="border-radius: 15px 0 0 15px;" >
			  <span ng-click="addTag(newTag)" class="input-group-addon" style="background-color:#fff; padding-left:1em; padding-right:1em; border-radius:0 15px 15px 0">
				<i class="icon fa fa-plus"> add</i>
			  </span>
		 </div>
	</div>

	<div class="col-sm-6 col-sm-offset-3 new-post" ng-show="edit" style="margin-bottom:5em;">
		 <input class="post-title" placeholder="Enter title of post here" ng-model="post.title">
		 <hr />
		 <input class="post-title" placeholder="Cover image url" ng-model="post.coverImage">
		 <hr />
		 <input class="post-title" placeholder="Caption of post" ng-model="post.description">
		 <hr />
	      <form name="demo" style="background:#fff;" class="md-styles">
            <div ng-model="post.body" medium-editor options='{"placeholder": "Start typing your article body here" , "buttons":["bold", "italic","underline", "anchor", "header1", "header2", "quote" , "orderedlist" ,  "unorderedlist" , "pre" , "indent" , "outdent" , "justifyCenter" , "justifyLeft" , "justifyRight" , "justifyFull" , "subscript" , "superscript" , "image"]}'></div>
         </form>
	</div> 
</div>