<div class="container posts-container">
      <div class="row-offcanvas row-offcanvas-left {{sidebar}}">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" style="padding-left:0; margin-left:-1em;">
             <h3>Favourite Topics 
			    <i style="font-size:.8em;" class="icon fa fa-times" ng-click="clearTags()"> clear all</i>
			 </h3>

			 <div class="input-group" style="padding-bottom:.4em;">
				  <input class="form-control input-tag" placeholder="Add a tag" ng-model="newTag">
				  <span ng-click="addTag(newTag)" class="input-group-addon" style="padding-left:1em; padding-right:1em">
					<i class="icon fa fa-plus"> add</i>
				  </span>
			 </div>

			 <div class="tag-buttons">
				<button class="btn btn-default btn-sm" ng-repeat="tag in tags" ng-click="deleteTag(tag)">
				   <span>{{tag}}</span> 
				   <a class="badge">X</a>
				</button>
			 </div>
			 
			 <div class="copy-right" style="margin-top:3em;"><i class="icon fa fa-copyright"></i>
			  palingram.com 2015
			 </div>
        </div><!--/.sidebar-offcanvas-->
		
        <div class="col-sm-6"  style="padding:0">
			 <div ng-repeat="post in posts | orderBy:'-date'" class="col-xs-12 panel panel-default" ng-click="viewPost(post)">
				<div class="col-xs-12 header">
				   <h5 style="color:#ccc;">By {{post.author}} on {{post.date | date:'fullDate'}}</h5>
				</div>
				<div class="col-xs-12 panel-body" >
					<div class="col-xs-12 img-div" style="background: url({{post.image}}) center center no-repeat; background-size: cover;">
						
					</div>
					<div class="col-xs-12 content">
						<h3>{{post.title}}</h3>
						<p>
							{{post.description | limitTo : 90}}{{post.description.length>90? '...' : ''}}
						</p>

					</div>
					<div class="tag-buttons">
					   <button class="btn btn-default btn-sm" ng-repeat="tag in post.tags">{{tag}}</button>
					</div>
					
				</div>
			 </div>
	    </div>

      </div><!--/row-->

    </div><!--/.container-->