<div class="col-sm-12" style="padding:0">
	<div class="col-sm-9 article clearfix">
	    <div style="padding:0 .2em">
			<h1><b style="font-weigh:bolder">{{post.title}}</b></h1>
	        <div class="user" style="margin-bottom:1em">
				<i style="font-weight:bolder">by <a>{{post.author}}</a> | {{post.date | date:'fullDate'}}</i>
			</div>
			<div class="author-icons" ng-show = "owned" style="margin-bottom:1em">
				<i class="icon fa fa-edit" ng-click="edit()"> edit</i>
			    <i class="icon fa fa-times"  ng-click="delete()"> delete</i>
			</div>
			
		</div>
		<div class="col-xs-12 header" style="background: url({{post.coverImage}}) center center no-repeat; background-size: cover;">
			
		</div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-2" style="padding:0">
				<div class="col-xs-12 body">
					<p style="background:#EFF5FB;padding:1em;">{{post.description}}</p>
					<p ng-bind-html="post.body" class="md-styles"></p>
					<p style="margin-top:2em">
						<div class="tag-buttons">
						   <button class="btn btn-default btn-sm" ng-repeat="tag in post.tags">{{tag}}</button>
						</div>
					</p>
					<hr />
				</div>
		         <div class="col-xs-12 share-box" >
		            <i class="des icon fa fa-share" > share </i>
			    	<a
						class="icon fa fa-twitter btn btn-primary"
						socialshare
						socialshare-provider="twitter"
						socialshare-via="palingram"
						socialshare-text="{{shareText()}}"
						socialshare-hashtags="palingramblog"
						socialshare-url="{{link}}">
			    	</a>

					<a
						class="icon fa fa-facebook btn btn-info"
						socialshare
						socialshare-provider="facebook"
						socialshare-text="{{shareText()}}"
						socialshare-url="{{link}}">
			    	</a>

			    	<a
						class="icon fa fa-google-plus btn btn-danger"
						socialshare
						socialshare-provider="google+"
						socialshare-text="{{shareText()}}"
						socialshare-url="{{link}}">
			    	</a>
			    	<a class="icon fa btn btn-default" ng-class="isFavourite() ? 'fa-heart':'fa-heart-o'" ng-click="toggleFavourite()" style=" color:red"></a>
			    	<a class="icon fa fa-link" style ="margin-left:1em"> <code> {{link}}</code> </a>
		            
					
					<hr >
				</div>
                
				<div style="padding:.5em">
					<dir-disqus disqus-shortname="palingramdisqus"
					         disqus-identifier="{{post._id}}"
					         disqus-url="http://www.palingram.com/#!/in/posts/{{post._id}}"
					         ready-to-bind="{{ contentLoaded }}">
					</dir-disqus>
				</div>
			</div>
	</div>
	<div class="col-sm-3 side-items" style="padding-right:0;">
          <div class="col-xs-12 ad-box " style="padding:0em; text-align:center; font-weight:bolder">
          	    <ins class="bmadblock-56d3783e30242d132c72284c" style="display:inline-block;width:300px;height:250px;"></ins>
          </div>
          <div class="clearfix"></div>

          <hr />
           <span style="padding:.5em ; font-size:bolder; font-size:2em">
          	 Related articles
           </span>
            <div class="col-xs-12 suggestion clearfix" ng-repeat="item in posts" >
          	   <a href="http://www.palingram.com/#!/in/posts/{{item._id}}" target="_blank">
	          	  <div class="col-xs-12 col-sm-6 img-div" style="background: url({{item.coverImage}}) center center no-repeat; background-size: cover;"></div>
	          	  <div class="col-xs-12  col-sm-6 text-b" style="padding-top:.5em">
	          	  	  <h4>{{item.title | limitTo : 40}} {{item.title.length > 40 ? '...' : ''}}</h4>
	          	  	  <h5>
	          	  	  	  {{item.description | limitTo : 50 }}
	          	  	  	  {{item.title.description.length > 50 ? '...' : ''}}
	          	  	  </h5>
	          	  </div>
	           </a>
          </div>
          
          <div class="clearfix"></div>
           <hr />

          <span style="padding:.5em ; font-size:bolder; font-size:1.5em">
          	 Latest from {{post.author}}
          </span>

          <hr />
         <div class="col-xs-12 suggestion clearfix" ng-repeat="item in authorPosts" >
          	   <a href="http://www.palingram.com/#!/in/posts/{{item._id}}" target="_blank">
	          	  <div class="col-xs-12 col-sm-6 img-div" style="background: url({{item.coverImage}}) center center no-repeat; background-size: cover;"></div>
	          	  <div class="col-xs-12  col-sm-6 text-b" style="padding-top:.5em">
	          	  	  <h4>{{item.title | limitTo : 40}} {{item.title.length > 40 ? '...' : ''}}</h4>
	          	  	  <h5>
	          	  	  	  {{item.description | limitTo : 50 }}
	          	  	  	  {{item.description.length > 50 ? '...' : ''}}
	          	  	  </h5>
	          	  </div>
	           </a>
          </div>
          <hr>
           <div class="col-xs-12 ad-box " style="padding:1em; text-align:center; font-weight:bolder">
          	    <ins class="bmadblock-56d37b7a30242d132c722920" style="display:inline-block;width:336px;height:280px;"></ins>
          </div>
          
	</div>
</div>