<div class="col-sm-12" style="padding:0;margin-top:7em">
	<div class="col-sm-9 article clearfix">
	    <div style="padding:0 .2em">
			<h1>{{post.title}}</h1>
	        <div class="user" style="margin-bottom:1em">
				<i style="font-weight:bolder">by <a>{{post.author}}</a> | {{post.date | date:'fullDate'}}</i>
			</div>
			<div class="author-icons" ng-show = "owned" style="margin-bottom:1em">
				<i class="icon fa fa-edit" ng-click="edit()"> edit</i>
			    <i class="icon fa fa-times"  ng-click="delete()"> delete</i>
			</div>
			
		</div>
		<div class="col-xs-12 header" style="background: url({{post.coverImage}}) center center no-repeat; background-size: cover;">
			
		</div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-2" style="padding:0">
				<div class="col-xs-12 body">
					<p style="background:#EFF5FB;padding:1em;">{{post.description}}</p>
					<p ng-bind-html="post.body" class="md-styles"></p>
					<p style="margin-top:2em">
						<div class="tag-buttons">
						   <button class="btn btn-default btn-sm" ng-repeat="tag in post.tags">{{tag}}</button>
						</div>
					</p>
					<hr />
				</div>
		         <div class="col-xs-12 share-box" >
		            <i class="des icon fa fa-share" > share </i>
			    	<a
						class="icon fa fa-twitter btn btn-primary"
						socialshare
						socialshare-provider="twitter"
						socialshare-via="palingram"
						socialshare-text="{{shareText()}}"
						socialshare-hashtags="palingramblog"
						socialshare-url="{{link}}">
			    	</a>

					<a
						class="icon fa fa-facebook btn btn-info"
						socialshare
						socialshare-provider="facebook"
						socialshare-text="{{shareText()}}"
						socialshare-url="{{link}}">
			    	</a>

			    	<a
						class="icon fa fa-google-plus btn btn-danger"
						socialshare
						socialshare-provider="google+"
						socialshare-text="{{shareText()}}"
						socialshare-url="{{link}}">
			    	</a>
			    	<a class="icon fa btn btn-default" ng-class="isFavourite() ? 'fa-heart':'fa-heart-o'" ng-click="toggleFavourite()" style=" color:red"></a>
			    	<a class="icon fa fa-link" style ="margin-left:1em"> <code> {{link}}</code> </a>
		            
					
					<hr >
				</div>

				<div class="col-xs-12" style="padding:0">
					<div class="col-xs-12 comment-box hvr-curl-top-right" >
			            <textarea class="form-control" placeholder="Comment on this article ..." ng-model="comment.body" style="border-radius:0;">
			            </textarea>
			            <div class="col-xs-12 footer" >
			            	<!-- Split button -->
							<div class="btn-group">
								  <button type="button" class="btn btn-default btn-sm">{{sortCriteria || 'sort by'}}</button>
								  <button type="button" class="btn btn-danger btn-sm" ng-click="toggleSortMenu()">
								    <span class="caret"></span>
								  </button>
								  <div class="dropdown" ng-class="{'open' : sortMenu}" style="z-index:200000">
								  	<ul class="dropdown-menu">
								    <li ng-repeat="option in sortOptions" ng-click="sort(option)">
								    	<a>{{option}}</a>
								    </li>
								  </ul> 
								  </div>
								  
							</div>
							
			            	<button ng-click="postComment()" class="btn btn-default btn-sm pull-right" style="margin-left:.2em;">comment</button>
			                <button ng-click="comment.body=''" class="btn btn-default btn-sm pull-right">reset</button>
							</span>
			            </div>
					</div>
					<div class="col-xs-12" id="comment" ng-repeat = "item in comments | commentFilter:sortCriteria">

						<div class="col-xs-12 comment-heading">
							<div class="col-xs-1">
								 <img ng-src={{item.image}} class="img-rounded">
							</div>
							<div class="col-xs-11">
								<h5>
									<a>{{item.by}}</a> | <span style="color:#CCE">{{item.date | date:'fullDate'}}</span>
									
								</h5>
						    </div>
					   </div>

						<div class="col-xs-12 comment-body">	 
							 <div class="col-xs-11 col-xs-offset-1" style="margin-bottom:1em;padding-right:1em;">
							 	{{item.body}} <br/><br />
							 	<button class="btn btn-default btn-sm icon fa fa-chevron-down" ng-click="vote(item , 1)"> votes {{item.voters.up.length}}
							 	</button>
							 	<button class="btn btn-default btn-sm icon fa fa-chevron-up" ng-click="vote(item , -1)"> votes {{item.voters.down.length}}</button>
							 	<button class="btn btn-default btn-sm icon fa fa-times" ng-click="deleteComment(item)" ng-show="myComment(item)"> delete</button>
							 </div>

						</div>
						<div class="clearfix"></div>
						<hr / style="margin:0">
					</div>
				</div>
			</div>
	</div>
	<div class="col-sm-3 side-items" style="float:right; padding-right:0;">
          <div class="col-xs-12 ad-box " style="padding:1em; text-align:center; font-weight:bolder">
          	    <a href="http://propellerads.com/?rfd=5oS"><img src="http://promo.propellerads.com/300x250_05.gif" alt="Propellerads"></a>
          </div>
          <div class="clearfix"></div>

          <hr />

         
           <span style="padding:.5em ; font-size:bolder; font-size:2em">
          	 Related articles
           </span>
          <div class="col-xs-12 suggestion clearfix" ng-repeat="item in posts">
	          
          	   <a href="http://www.palingram.com/#!/in/posts/{{item._id}}" target="_blank">
	          	  <div class="col-xs-4 col-sm-6 img-div" style="background: url({{item.coverImage}}) center center no-repeat; background-size: cover;"></div>
	          	  <div class="col-xs-8  col-sm-6 text-b" style="padding-top:.5em">
	          	  	  <h4>{{item.title | limitTo : 40}}</h4>
	          	  	  <h5>
	          	  	  	  {{item.description | limitTo : 50}}
	          	  	  </h5>
	          	  </div>
	           </a>
          </div>
          
          <div class="clearfix"></div>
           <hr />

          <span style="padding:.5em ; font-size:bolder; font-size:1.5em">
          	 Latest from {{post.author}}
           </span>

          <hr />
         <div class="col-xs-12 suggestion clearfix" ng-repeat="item in authorPosts" >
          	   <a href="http://www.palingram.com/#!/in/posts/{{item._id}}" target="_blank">
	          	  <div class="col-xs-4 col-sm-6 img-div" style="background: url({{item.coverImage}}) center center no-repeat; background-size: cover;"></div>
	          	  <div class="col-xs-8  col-sm-6 text-b" style="padding-top:.5em">
	          	  	  <h4>{{item.title | limitTo : 40}}</h4>
	          	  	  <h5>
	          	  	  	  {{item.description | limitTo : 50 }}
	          	  	  </h5>
	          	  </div>
	           </a>
          </div>
          <hr />
          
          <div class="clearfix"></div>
          <div class="copy-right" style="margin-top:5em; background-color:#fff; padding:.6em">
          	   <i class="icon fa fa-copyright"></i>
			  palingram.com 2015  |
			  <a href = "about.html" >About</a>  |
			  <a href = "privacy.html">Privacy policy</a> |
			  <a href = "contact.html">Contact</a>
		 </div>
	</div>
</div>