<div class="container posts-container clearfix">
      <div class="row-offcanvas row-offcanvas-left {{sidebar}}">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas side-menu panel panel-default"  bs-affix data-offset-top="200" data-offset-bottom="300">
             <h3>Favourite Topics <br>
			    <i style="font-size:.8em;" class="icon fa fa-times" ng-click="clearTags()"> clear all</i>
			 </h3>
			 <hr />

			 <div class="input-group" style="padding-bottom:.4em;">
				  <input class="form-control input-tag" placeholder="Add a tag" ng-model="newTag" style="border-radius: 15px 0 0 15px;" >
				  <span ng-click="addTag(newTag)" class="input-group-addon" style="background-color:#fff; padding-left:1em; padding-right:1em; border-radius:0 15px 15px 0">
					<i class="icon fa fa-plus"> add</i>
				  </span>
			 </div>

			 <div class="tag-buttons">
				<button class="btn btn-default btn-sm" ng-repeat="tag in tags" ng-click="deleteTag(tag)">
				   <span>{{tag}}</span>
				   <a class="badge">X</a>
				</button>
			 </div>
			 
			 <div class="copy-right" style="margin-top:3em;"><i class="icon fa fa-copyright"></i>
			  palingram.com 2015
			 </div>
        </div><!--/.sidebar-offcanvas-->
		
        <div class="col-sm-7"  style="padding:0">
		   <div ng-repeat="post in posts | orderBy:'-date'" class="col-xs-12 panel panel-default" ng-click="viewPost(post)">
				<div class="col-xs-12 header">
				   <div class="col-xs-12 col-sm-1" style="padding-right:1em; padding-left:0;">
				   	    <img ng-src= {{post.image}} height="40" width="40" class="img-rounded"></img>
				   </div>
				   <div class="col-xs-12 col-sm-11" style="padding:0;">
				   	   <span style="color:#ccc; margin-right:1.5em; font-size:1.4em"><a>{{post.author}}</a> on {{post.date | date:'fullDate'}}
				   	   </span><br />
                       <span style="font-size:1.1em" ng-bind-html="post.bio"></span>
				   	  
				   </div>
				</div>
				<div class="col-xs-12 col-sm-offset-1 col-sm-11 panel-body" >
					<div class="col-xs-12 img-div" style="background: url({{post.coverImage}}) center center no-repeat; background-size: cover;">
						
					</div>
					<div class="col-xs-12 content">
						<h3>{{post.title}}</h3>
						<p>
							{{post.description | limitTo : 90}}{{post.description.length>90? '...' : ''}}
						</p>

					</div>
					<div class="clearfix"></div>
					<hr />
					<div class="tag-buttons">
					   <button class="btn btn-primary btn-sm">{{post.views}} views</button>
					   <button class="btn btn-default btn-sm" ng-repeat="tag in post.tags">{{tag}}</button>
					</div>
					
				</div>
			 </div>
	    </div>

      </div><!--/row-->

    </div><!--/.container-->