
<div class="col-xs-12" style="margin-top: 60px; padding:0">
	   <div class="col-sm-3 sidebar-offcanvas primary-pane" id="sidebar1" > 
			 <h3>Trending Topics</h3>
			  <p style="white-space:nowrap; overflow:hidden">
			 	<button class="btn btn-default btn-sm">
			 		tag name 
			 		<i class="icon fa fa-eye badge"> 970</i>
			 	</button>
			 	<a style="font-size:1.3em; font-weight:bold;">Description od the tagname in the view</a>

			  </p>
			   <p style="white-space:nowrap; overflow:hidden">
			 	<button class="btn btn-default btn-sm">
			 		tag name 
			 		<i class="icon fa fa-eye badge"> 970</i>
			 	</button>
			 	<a style="font-size:1.3em; font-weight:bold;">Description od the tagname in the view</a>

			  </p>
			  <p style="white-space:nowrap; overflow:hidden">
			 	<button class="btn btn-default btn-sm">
			 		tag name 
			 		<i class="icon fa fa-eye badge"> 970</i>
			 	</button>
			 	<a style="font-size:1.3em; font-weight:bold;">Description od the tagname in the view</a>

			  </p>
			   <p style="white-space:nowrap; overflow:hidden">
			 	<button class="btn btn-default btn-sm">
			 		tag name 
			 		<i class="icon fa fa-eye badge"> 970</i>
			 	</button>
			 	<a style="font-size:1.3em; font-weight:bold;">Description od the tagname in the view</a>

			  </p>

			 <hr style="margin-bottom:1.5em;" />
			 
			 <h4>Favourite Topics 
			    <i style="font-size:.8em;" class="icon fa fa-times" ng-click="clearTags()"> clear all</i>
			 </h4>

			 <div class="input-group" style="padding-bottom:.4em;">
				  <input class="form-control input-tag" placeholder="Add a tag" ng-model="newTag">
				  <span ng-click="addTag(newTag)" class="input-group-addon" style="padding-left:1em; padding-right:1em">
					<i class="icon fa fa-plus"> add</i>
				  </span>
			 </div>

			 <div class="tag-buttons">
				<button class="btn btn-default btn-sm" ng-repeat="tag in tags" ng-click="deleteTag(tag)">
				   <span>{{tag}}</span> 
				   <a class="badge">X</a>
				</button>
			 </div>
			 
			 <div class="copy-right"><i class="icon fa fa-copyright"></i>
			  palingram.com 2015
			 </div>
		</div>
		<div class="col-sm-6">
			 <div ng-repeat="post in posts | orderBy:'-date'" class="col-xs-12 panel panel-default" ng-click="viewPost(post)">
				<div class="col-xs-12 header">
				   <h5 style="color:#ccc;">By {{post.author}} on {{post.date | date:'fullDate'}}</h5>
				</div>
				<div class="col-xs-12 panel-body" >
					<div class="col-xs-12 img-div" style="background: url({{post.image}}) center center no-repeat; background-size: cover;">
						
					</div>
					<div class="col-xs-12 content">
						<h3>{{post.title}}</h3>
						<p>
							{{post.body | limitTo : 90}}{{post.body.length>90? '...' : ''}}
						</p>

					</div>
					<button class="btn btn-primary" ng-repeat="tag in post.tags">{{tag}}</button>
				</div>
			 </div>
	    </div>
</div>