<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="padding:0">
            <div class="panel panel-default" style="margin-bottom:0"> 
               <div class="panel-heading">
                   <h4 style="font-size:1.5em; font-weight:bolder">Help palingram grow it's user base</h4>
               </div>
               <div class="panel-body">
                    <a class="btn btn-primary pull-left" style="width:33.3%;border-radius:0;" href="https://www.facebook.com/pages/Palingram/468583489978467"><i class="icon fa fa-facebook"></i> /palingram </a>
                    <a class="btn btn-info pull-left" style="width:33.3%;border-radius:0;" href="https://twitter.com/palingram"><i class="icon fa fa-twitter"></i> @palingram</a>
                    <a class="btn btn-danger pull-left" style="width:33.3%;border-radius:0;" href="https://plus.google.com/s/palingram"><i class="icon fa fa-google-plus"></i> +palingram </a>
               </div>    
         </div>
      </div>
      
    </div>
  </div>
</div>
