<div class="homepage">
   <div class="col-xs-12 header col-sm-8 col-sm-offset-2">
   	    <div class="text-center">
   	    	<img src="img/logo.png" class="img-thumbnail" width="200">
   	    </div>
		<div class="col-xs-12 inner" >
			<div class="col-xs-12 text container">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
					<h1 style="margin-bottom:2em">A blog about everything interesting</h1>
				    <span class="" >
						<button class="btn btn-default hvr-float-shadow" ui-sref="out.signin" style="margin-bottom:2em">SIGN IN</button>
					    <button class="btn btn-success hvr-pulse" ui-sref="out.signup" style="margin-bottom:2em">REGISTER</button>
					    <button class="btn btn-primary hvr-icon-wobble-horizontal" ng-click="guestLogin()" style="margin-bottom:2em" >
					    	Continue to articles as guest 
					    </button>

					</span>

				</div>
				
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 body">
		 <div class="col-xs-12 feature" ng-repeat = "feature in features" ng-hide="form">
		 	   <div class="col-sm-6 image" style="background: url({{feature.img}}) center center no-repeat;
	             background-size: cover;">
		 	   </div>

		 	   <div class="col-sm-6 text hvr-bubble-float-left">
		 	   	   <p>{{feature.text}}</p>
		 	   	   <button class="btn-xs btn btn-warning">{{feature.buttonText}}</button>
		 	   	   <button class="btn-xs btn btn-default hvr-glow" ng-click="applyNow()" ng-if="$index == 1">Apply now</button>
		 	   </div>
		 </div>
		  <div class="feature col-sm-10 col-sm-offset-1">
			 <form class="questioneer" ng-if="form" name="applicationForm" novalidate >
				   <div style="padding:0" ng-hide="submitted">
			   	     <hr>
			   	        <h4>Why do you want to write for palingram</h4>
			   	     <hr>
			     <textarea class="form-control col-xs-12 hvr-grow" placeholder="What makes you a great writer" ng-model="apply.why" required type="text">
				         </textarea>
				         <div clear="clearfix"></div>
			   	    <hr>
			   	       <h4>Choose topics you want to write about</h4>
			   	    <hr>
			   	    <button class="btn btn-xs interest" ng-repeat="tag in tags" ng-click="select(tag)"> 
			   	    	 {{tag}}
			   	    	 <i class="icon fa fa-check" ng-show="isSelected(tag)"></i>
			   	    </button>
			   	   <hr>
			   	       <h4>How often do you post</h4>
			   	   <hr>
			   	   <div class="checkbox" ng-repeat="check in checks">
				   <label class="checkbox">
				      <input name="agreed" type="checkbox" ng-click="toggleCheck(check , $index)" ng-model = "checked[$index]">
				       {{check}}
				    </label>
				</div>
				<hr>
				 <button class="btn btn-primary btn-block hvr-bounce-to-bottom" ng-click="submit()"  ng-disabled="applicationForm.$invalid">Apply now</button>
			 </div>
			</form>
		</div>
	</div>
</div>