<div class="homepage">
   <div class="col-xs-12 header col-sm-8 col-sm-offset-2">
   	    <div class="text-center">
   	    	<img src="img/logo.png" class="img-thumbnail" width="150">
   	    </div>
		<div class="col-xs-12 inner" >
			<div class="col-xs-12 text container">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
					<h1>Collaborative Blogging Platform</h1>
				    <span class="navbar" >
						<button class="btn btn-default" ui-sref="out.signin">SIGN IN</button>
					    <button class="btn btn-danger" ui-sref="out.signup">REGISTER</button>
					    <button class="btn btn-danger" ng-click="guestLogin()">
					    	Continue to articles as guest 
					    	<i class="icon fa fa-arrow-right"></i>
					    </button>
					</span>
				</div>
				
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 body">
		 <div class="col-xs-12 feature">
		 	   
		 	   <div class=" image" style="background: url('img/community.jpg') center center no-repeat fixed;
	             background-size: cover;">
		 	   </div>
		 	   <div class=" text">
		 	   	   <p>Engage and share ideas with a teeming community</p>
		 	   </div>
		 </div>

		 
		 <div class="col-xs-12 feature">
		 	   
		 	   
		 	   <div class=" image" style="background: url('img/money.jpg') center center no-repeat fixed;
	             background-size: cover;">
		 	   </div>
		 	   <div class=" text">
		 	   	   <p>Earn money by integrating ads in your articles</p>
		 	   </div>
		 </div>
		 <div class="col-xs-12 feature">
		 	  
		 	   <div class=" image" style="background: url('img/platforms.jpg') center center no-repeat fixed;
	             background-size: cover;">
		 	   </div>
		 	    <div class=" text">
		 	   	   <p>Start blogging immediately with no setups required</p>
		 	   </div>
		 </div>
	</div>
</div>