<div class="col-sm-offset-2 col-sm-8 homepage">
	<div class="col-xs-12 navbar">
		<span>
			<img src="img/logo.png" />
		</span>
		<span class="pull-right" >
			<button class="btn btn-default" ui-sref="out.signin">SIGN IN</button>
		    <button class="btn btn-danger" ui-sref="out.signup">REGISTER</button>
		</span>
    </div>

    <div class="col-xs-12 header">
		<div class="col-xs-12 inner" >
			<div class="col-sm-8 col-sm-offset-2 text">
				<h1>Collaborative Blogging Platform</h1>
				<h3>Write about the things you love with people who share similar interests</h3>
			</div>
		</div>
	</div>
	<div class="col-xs-12 body text-center">
		 <div class="col-sm-6 item">
		 	   <div class="col-xs-12">
		 	   	   <i class="icon fa fa-users"></i>
		 	   </div>
		 	   <div class="col-xs-12">
		 	   	   <p>Engage and share ideas with a teeming community</p>
		 	   </div>
		 </div>

		 <div class="col-sm-6 item">
		 	   <div class="col-xs-12">
		 	   	   <i class="icon fa fa-dollar"></i>
		 	   </div>
		 	   <div class="col-xs-12">
		 	   	   <p>Earn money by integrating ads in your articles</p>
		 	   </div>
		 </div>
		 <div class="col-sm-6 col-sm-offset-3 item">
		 	   <div class="col-xs-12">
		 	   	   <i class="icon fa fa-cogs"></i>
		 	   </div>
		 	   <div class="col-xs-12">
		 	   	   <p>Start blogging immediately with no setups required</p>
		 	   </div>
		 </div>
	</div>
	<div class="col-xs-12 text-center footer">
		<button class="btn btn-danger btn-lg" ui-sref="out.signup">Let's get started</button>
    </div>
</div>