<div class="col-sm-offset-3 col-sm-6 transition">

	<div classs="col-xs-12" id="header">
       <a>
      	 <img src="img/logo.png" height="60px"/>
       </a>
       
    </div>

    <div classs="col-xs-12" id="body" style="margin-bottom:2em">
    	 <h1 style="margin-bottom:1.5em">
       	   Customize your homepage by selecting your favourite topics
       </h1>
       <button class="btn btn-default" ng-class="{'btn-success' : isSelected(tag)}" ng-repeat="tag in tags" ng-click="select(tag)" style="margin-right:.5em">
       	    {{tag}}
       </button>
       
    </div>

    <div class="col-xs-12 text-center ">
		    <button class="btn btn-danger btn-lg" ng-click="proceed()">Continue to Posts</button>
    </div>
</div>