<div class="homepage">
    <div class="col-xs-12 navbar">
		<span>
			<img src="img/logo.png" />
		</span>
		<span class="pull-right" >
			<button class="btn btn-default" ui-sref="out.signin">SIGN IN</button>
		    <button class="btn btn-danger" ui-sref="out.signup">REGISTER</button>
		</span>
    </div>
</div>

<div class="col-sm-offset-2 col-sm-8 article" style="margin-bottom:3em;">
	<div class="col-xs-12 header" style="background: url({{post.coverImage}}) center center no-repeat; background-size: cover;">
		<div class="col-xs-12 inner" >
			<div class="col-sm-8 col-sm-offset-2 text">
				<h1>{{post.title}}</h1>
				<h3>
					by <a>{{post.author}}</a>
				</h3>
				<span>
					<img ng-src={{post.image}} class="img-circle" width="70" height="70">
				</span>
			</div>
		</div>
	</div>

    <div class="col-xs-12 share-box">
		<i class="icon fa fa-facebook"> </i>
		<i class="icon fa fa-twitter"> </i>
		<i class="icon fa fa-google-plus"> </i>
		<i class="icon fa fa-link"> </i>
		<i class="icon fa fa-heart-o" ng-click="toggleFavourite()" style="color:red"></i>
		
	</div>

	<div class="col-xs-12 body">
		<p ng-bind-html="post.body"></p>
	</div>
	
</div>

<div class="homepage">
    <div class="col-xs-12 header">
		<div class="col-xs-12 inner" >
			<div class="col-sm-8 col-sm-offset-2 text">
				<h1>Collaborative Blogging Platform</h1>
				<h3>Write about the things you love with people who share similar interests</h3>
				<button class="btn btn-danger btn-lg" ui-sref="out.signup">Let's get started</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 body text-center">
		 <div class="col-sm-6 item">
		 	   <div class="col-xs-12">
		 	   	   <i class="icon fa fa-users"></i>
		 	   </div>
		 	   <div class="col-xs-12">
		 	   	   <p>Engage and share ideas with a teeming community</p>
		 	   </div>
		 </div>

		 <div class="col-sm-6 item">
		 	   <div class="col-xs-12">
		 	   	   <i class="icon fa fa-dollar"></i>
		 	   </div>
		 	   <div class="col-xs-12">
		 	   	   <p>Earn money by integrating ads in your articles</p>
		 	   </div>
		 </div>
		 <div class="col-sm-6 col-sm-offset-3 item">
		 	   <div class="col-xs-12">
		 	   	   <i class="icon fa fa-cogs"></i>
		 	   </div>
		 	   <div class="col-xs-12">
		 	   	   <p>Start blogging immediately with no setups required</p>
		 	   </div>
		 </div>
	</div>
	<div class="col-xs-12 text-center footer">
		<button class="btn btn-danger btn-lg" ui-sref="out.signup">Let's get started</button>
    </div>
</div>