 <div class="cse-branding-bottom" style="width:100%">
  <div class="cse-branding-form">
   <form class="searchbox navbar-form navbar-right" action="http://www.google.com" id="cse-search-box" style="padding:0; margin:0;">
        <div class="input-group" style="padding:0;">
         <input type="hidden" name="cx" value="partner-pub-2725471983332791:5899961866" />
         <input type="hidden" name="ie" value="UTF-8" />
         
          <input type="text"  name="q"  size="55" class="form-control" style="border-radius: 0px !important; height:3em;" placeholder="Search Google.com">
          <span class="input-group-addon" style="background-color:#428bca; padding-left:1em; padding-right:1em;border-radius:0;">
               <input type="submit" name="sa" value="Go" />
          </span>
        </div>
    </form>
  </div>
 </div>