<!DOCTYPE html>
<html lang="en" ng-app="palingram">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="fragment" content="!">
			
	   <!-- Bootstrap core CSS -->
	   <link href="css/bootstrap.min.css" rel="stylesheet">
       <link href="css/font-awesome.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="css/custom.css" rel="stylesheet">

      <!--Setting a base to support html 5 mode-->
      <base href="/" />
  </head>
    <body>

        
		<div class="homepage">
			<div class="col-xs-12 navbar">
				<span>
					<img src="img/logo.png" />
				</span>
				<span class="pull-right" >
					<button class="btn btn-default" ui-sref="out.signin">SIGN IN</button>
				    <button class="btn btn-danger" ui-sref="out.signup">REGISTER</button>
				</span>
		    </div>

		   <div class="col-xs-12 header">
				<div class="col-xs-12 inner" >
					<div class="col-sm-8 col-sm-offset-2 text container">
						<div class="col-sm-6 col-sm-offset-3">
							<h1>Collaborative</h1>
						    <h1> Blogging</h1>
						    <h1> Platform</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 body">
				 <div class="col-xs-12 feature">
				 	   
				 	   <div class="col-sm-6 image" style="background: url('img/community.jpg') center center no-repeat fixed;
			             background-size: cover;">
				 	   </div>
				 	   <div class="col-sm-6 text">
				 	   	   <p>Engage and share ideas with a teeming community</p>
				 	   </div>
				 </div>

				 <div class="col-xs-12 feature hidden-xs">
				 	   
				 	   <div class="col-sm-6 text">
				 	   	   <p>Earn money by integrating ads in your articles</p>
				 	   </div>
				 	   <div class="col-sm-6 image" style="background: url('img/money.jpg') center center no-repeat fixed;
			             background-size: cover;">
				 	   </div>
				 </div>
				 <div class="col-xs-12 feature visible-xs">
				 	   
				 	   
				 	   <div class="col-sm-6 image" style="background: url('img/money.jpg') center center no-repeat fixed;
			             background-size: cover;">
				 	   </div>
				 	   <div class="col-sm-6 text">
				 	   	   <p>Earn money by integrating ads in your articles</p>
				 	   </div>
				 </div>
				 <div class="col-xs-12 feature">
				 	  
				 	   <div class="col-sm-6 image" style="background: url('img/platforms.jpg') center center no-repeat fixed;
			             background-size: cover;">
				 	   </div>
				 	    <div class="col-sm-6 text">
				 	   	   <p>Start blogging immediately with no setups required</p>
				 	   </div>
				 </div>
			</div>
		</div>
	</body>
</html>